/*CSS variable declaration for light/dark mode*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /* Light Mode */
  --primary-color: #0045BC;
  --secondary-color: #8236CB;
  --text-primary-color: #334257;
  --text-secondary-color: #64707d;
  --bg-primary-color: #FFF;
  --bg-secondary-color: #FAFAFA;
  --other-color: #CCC;
  --navbar-bg: rgba(0, 0, 0, 0.1);
  --rotate-color: #000;
}

[data-theme="dark"] {
  /* Dark Mode */
  --primary-color: #0045BC;
  --secondary-color: #8236CB;
  --text-primary-color: #FFF;
  --text-secondary-color: #84878C;
  --bg-primary-color: #000;
  --bg-secondary-color: #111;
  --other-color: #232323;
  --navbar-bg: rgba(0, 0, 0, 0.4);
  --rotate-color: #FFF;
}

/*----- Reset -----*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*----- Main  -----*/
body {
  background: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: "Proxima", sans-serif;
  line-height: 1.3;
}

@font-face {
  font-family: "Proxima";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima"),
    url("/assets/font/ProximaNova-Regular.otf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Jetbrains";
  font-style: normal;
  font-weight: normal;
  src: local("Jetbrains"),
    url("/assets/font/JetBrainsMono-Regular.woff2") format("truetype");
}

img {
  max-width: 100%;
  height: 100%;
}

p {
  margin: 10px 0;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
  vertical-align: baseline;
}

/*----- Navbar -----*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  background: var(--bg-secondary-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  z-index: 200;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 0 20px;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}


.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar .logo img {
  display: block;
  width: 40px;
}

.navbar .logo {
  transition: all 0.3s ease-in-out;
}

.navbar .logo:hover {
  opacity: 1;
}

/*----- Hamburger Menu -----*/

.hamburger {
  display: none;
}

.nav-menu {
  display: flex;
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-primary-color);
}

/*----- Hero Section -----*/

#hero {
  height: 20vh;
  position: relative;
  overflow: hidden;
}

.content .main-button {
  background-color: #0045BC;
  border: solid 1px #0045BC;
  color: #FFF;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

/*----- Education Section -----*/

.p-lg-5 {
  padding: 1rem !important;
}

.section-title {
    font-size: 3rem;
    position: relative;
    color: #0045BC;
}

.text-center {
  text-align: center;
}

.font-weight {
  font-weight: 700 !important;
}

.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-contet: space-around;
  margin-right: -20px;
  margin-left: -20px;
}

.mb-2, .my-2 {
  margin-bottom: 0.5rem !important;
}

.col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.featured-section img {
  vertical-align: middle;
  horizontal-align: middle;
  border-style: none;
  height: 250px;
}

.mt-5, .my-5 {
  margin-top: 3rem !important;
}

h5 {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.2;
  display: block;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
}

.mb-1, .my-1 {
  margin-bottom: 0.25rem !important;
}

.featured-section p {
  font-size: 1.2rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--text-secondary-color);
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

[data-aos][data-aos][data-aos-delay="600"].aos-animate {
  transition-delay: .6s;
}

[data-aos^=fade][data-aos^=fade].aos-animate {
  opacity: 1;
  transform: translateZ(0);
}

[data-aos][data-aos][data-aos-easing=linear] {
  transition-timing-function: cubic-bezier(.25,.25,.75,.75);
}

.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

#mooc .card {
  border-radius: 5px;
  background: var(--bg-primary-color);
  box-shadow: 0 6px 10px rgb(0 69 188 / 8%), 0 0 6px rgb(0 69 188 / 5%);
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.3s box-shadow, 0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 69, 188,.125);
  border-radius: 0.25rem;
}

.card .content {
  position: relative;
  width: 100%;
  padding: 10px;
  margin: auto;
  overflow: hidden;
  height: 75%;
}

.content .content-overlay {
  background: rgba(0, 69, 188, 0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.card-img-top {
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-top {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}

.hw-1 {
  height: 52%;
  width: 52%;
}  

.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.fadeIn-bottom {
  top: 80%;
}

.content-details {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

#mooc .card-body {
  background-color: #0045BC;
  padding: 1px;
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.mooc-title {
  color: var(--text-primary-color);
}

.pb-2, .py-2 {
  padding-bottom: 0.5rem!important;
  padding-top: 0.5rem!important;
}

h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*----- Navbar -----*/

@media (max-width: 768px) and (max-width: 701px) {
  .navbar {
    justify-content: space-between;
  }

  .logo {
    order: 1;
  }

  #menu {
    order: 3;
  }

  .theme-switch-wrapper {
    order: 2;
  }

  .navbar ul li a:hover {
    background-color: var(--primary-color);
    color: #FFF;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    width: 70%;
    height: 100%;
    text-align: right;
    transition: 0.3s;
    background-color: var(--bg-secondary-color);
  }

  /* Add Spacing Between Hamburer and Navigation Menu */
  
  .nav-menu li:first-child {
    margin-top: 4rem;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-items {
    width: 100%;
    border-bottom: 1px solid var(--other-color);
  }

  .nav-link {
    display: inline-block;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body {
    overflow-x: hidden;
  }

  #hero {
    margin-top: 1rem;
  }

  #hero .content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .content-text {
    margin-bottom: 3rem;
  }

  .content h2 {
    font-size: 2.4rem;
  }

  .content p {
    max-width: 300px;
  }

  .content .content-image {
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  #hero {
    height: 130vh;
  }

  .content p {
    margin: 1rem 0;
  }
}


/*----- Scroll Bar -----*/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  max-height: 5px;
  background: #0045BC;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #0045BC;  
}

/* Custom Scrollbar for Mozilla Firefox */
html{
  overflow-y: visible;
  scrollbar-color: #0045BC #F1F1F1;
  scrollbar-width: auto;
}

/*----- Scroll to Top button -----*/

#btnScrollToTop {
  width: 50px;
  height: 50px;
  background-color: #0045BC;
  color: #FFF;
  margin: 8px;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  position: fixed;
  outline: none;
  bottom: 10px;
  right: 10px;
  animation: up 1.5s infinite;
  -webkit-animation: up 1.5s infinite;
}

/* Scroll to Top Button Animation */

@keyframes up {
  0% {
      transform: translate(0);
  }
  20% {
      transform: translateY(-15px);
  }
  40% {
      transform: translate(0);
  }
}

@-webkit-keyframes up {
  0% {
      transform: translate(0);
  }
  20% {
      transform: translateY(-15px);
  }
  40% {
      transform: translate(0);
  }
}

/* Smooth Scrolling To Top */

html {
  scroll-behavior: smooth;
}

/* Utilities */
.container {
  margin: 0 auto;
  max-width: 1260px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-3 {
  color: var(--color-3);
}
.color-4 {
  color: var(--color-4);
}

.text-primary {
  color: var(--primary-color);
  font-weight: 600;
}

.text-secondary {
  font-weight: 800;
}

.language {
  font-family: "Jetbrains", monospace;
  font-size: 0.8rem;
}

.underline {
  display: inline-block;
  width: 50px;
  height: 1px;
  margin: 0 10px 0;
  background: var(--text-primary-color);
}

.underline-light {
  background-color: var(--text-primary-color);
}

.bg-primary,
.underline-primary {
  background-color: var(--primary-color);
}

.bg-secondary,
.underline-secondary {
  background-color: var(--secondary-color);
}

/* Title text */
.heading-bio {
  text-align: relative;
  margin: 30px 0;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  font-weight: 600;
}

/* -------- Animation Ends Here ----------- */

/* Dark Mode switch */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch {
  display: inline-block;
  height: 26px;
  position: relative;
  width: 42px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--other-color);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 3px;
  height: 20px;
  width: 20px;
  transition: 0.4s;
  background-color: #fff;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:checked + .slider:before {
  transform: translateX(17px);
}

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.link-style {
  text-decoration: underline;
  transition: color 0.3s ease-in-out;
}

.link-style:hover {
  color: var(--primary-color);
}

.badges {
  width: 160px;
  padding-bottom: 0.5rem;
}

/* Responsive 700px */
@media (max-width: 768px) {
  .icons a,
  .icons .icon {
    margin: 10px;
  }

  .theme-switch-wrapper {
    display: block;
    padding: 1rem;
    width: 100%;
  }
}
