/*----- Utilities -----*/
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

.color-1 {
  color: var(--color-1);
}
.color-2 {
  color: var(--color-2);
}
.color-3 {
  color: var(--color-3);
}
.color-4 {
  color: var(--color-4);
}

.text-primary {
  color: var(--primary-color);
  font-weight: 600;
}

.text-secondary {
  font-weight: 800;
}

.language {
  font-family: "Jetbrains", monospace;
  font-size: 0.8rem;
}

.underline {
  display: inline-block;
  width: 50px;
  height: 1px;
  margin: 0 10px 0;
  background: var(--text-primary-color);
}

.underline-light {
  background-color: var(--text-primary-color);
}

.bg-primary,
.underline-primary {
  background-color: var(--primary-color);
}

.bg-secondary,
.underline-secondary {
  background-color: var(--secondary-color);
}

/*----- Title text -----*/
.head-text {
  text-align: center;
  margin: 30px 0;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  color: var(--primary-color);
  font-weight: 600;
}
