/*CSS variable declaration for light/dark mode*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /* Light Mode */
  --primary-color: #0045BC;
  --secondary-color: #8236CB;
  --text-primary-color: #334257;
  --text-secondary-color: #64707d;
  --bg-primary-color: #FFF;
  --bg-secondary-color: #F2F2F2;
  --other-color: #CCC;
  --navbar-bg: rgba(0, 0, 0, 0.1);
  --rotate-color: #000;
}

[data-theme="dark"] {
  /* Dark Mode */
  --primary-color: #0045BC;
  --secondary-color: #8236CB;
  --text-primary-color: #FFF;
  --text-secondary-color: #64707d;
  --bg-primary-color: #000;
  --bg-secondary-color: #111;
  --other-color: #232323;
  --navbar-bg: rgba(0, 0, 0, 0.4);
  --rotate-color: #FFF;
}

/*----- Reset -----*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*----- Main  -----*/
body {
  background: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: "Proxima", sans-serif;
  line-height: 1.3;
}

@font-face {
  font-family: "Proxima";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima"),
    url("/assets/font/ProximaNova-Regular.otf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Jetbrains";
  font-style: normal;
  font-weight: normal;
  src: local("Jetbrains"),
    url("/assets/font/JetBrainsMono-Regular.woff2") format("truetype");
}

img {
  max-width: 100%;
  height: 100%;
}

p {
  margin: 10px 0;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
  vertical-align: baseline;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/*----- Navbar -----*/

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  background: var(--bg-secondary-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  z-index: 200;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 0 20px;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}

.navbar ul li a .nav-icon {
  margin-right: 0.4rem;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar .logo img {
  display: block;
  width: 40px;
}

.navbar .logo {
  transition: all 0.3s ease-in-out;
}

.navbar .logo:hover {
  opacity: 1;
}

/*----- Hamburger Menu -----*/

.hamburger {
  display: none;
}

.nav-menu {
  display: flex;
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-primary-color);
}

/*----- Hero Section -----*/

#hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#hero .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  padding-right: 30px;
  padding-left: 30px;
  position: relative;
  height: 100%;
  margin-top: 4rem;
}

.content h1 {
  font-size: 2rem;
  font-weight: 600;
}

.content h2 {
  max-width: 800px;
  font-size: 4rem;
}

.content p {
  margin: 0.9rem 0 2rem;
  font-weight: 500;
}

.content .main-button {
  background-color: #0045BC;
  border: solid 1px #0045BC;
  color: #FFF;
  font-weight: 700;
  width: max-content;
  padding: 13px 22px;
  margin-right: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
}

.content .animated-text {
  color: #0045BC; 
}

.animated-text span {
  display: none;
  line-height: 1;
}

.animated-text span.active {
  display: inline;
}

.animated-text:after {
  content: "";
  display: inline;
  width: 6px;
  text-indent: 0;
  animation: blink 0.3s infinite alternate;
}
.datawords{
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@keyframes blink {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Hero Image */

.content .content-image img {
  width: 300px;
  border: 5px solid var(--primary-color);
  border-radius: 24%;
  padding: 30px;
  transform: translateY(-40px);
}

.overlay-icons {
  position: relative;
  z-index: 1;
}

/*----- About Section -----*/

 #about {
  background: var(--bg-primary-color));
}

#about a {
  text-decoration: none;
  font-weight: 600;
  background: linear-gradient(to top,rgba(254,231,21,0.8) 30%,transparent 30%);
}

.about-me {
  display: grid;
  grid-template-columns: 1vw minmax(300px,500px) minmax(380px,1fr);
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.about-me .bio {
  grid-column: 2;
  position: relative;
  z-index: 2;
}

.bio p {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  max-width: 1000px;
}

.about-me .visual {
  position: relative;
  display: grid;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.about-me .visual>img, .about-me .visual>svg {
  right: 50%;
  margin-right: -200px;
}

.about-me .bg {
    height: 570px;
    position: absolute;
    bottom: -82px;
}

.david-wrapper {
  width: 813px;
  height: 570px;
  position: absolute;
  right: 50%;
  bottom: 0;
  margin-right: -500px;
}

.about-me .david-pull {
    position: absolute;
    width: 574px;
    height: 538px;
}

.about-me img, .about-me svg {
  width: 574px;
  display: block;
  position: absolute;
  max-width: 1274px;
}

.about-me img {
  bottom:-80px;
}

.about-me .drag-handle {
   position: absolute;
   right: 0;
   bottom: 0;
}

body:not(.no-js) .drag-handle.handle-right{
    width: 421px;
    height: 73px;
    background-repeat: no-repeat;
    background-image:url(/assets/images/pull-tab-right.svg);
    background-position:right bottom;
}

body:not(.no-js) .draggable {
  cursor: -webkit-grab;
  cursor: grab;
}

body:not(.no-js) .draggable.is-dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.cursor {
  -webkit-animation:blink .9s alternate linear infinite;
  animation:blink .9s alternate linear infinite;
}

.about-me .cover-top {
  height: 570px;
  bottom: -70px;
}

/*----- Navbar -----*/

@media (max-width: 768px) and (max-width: 701px) {
  .navbar {
    justify-content: space-between;
  }

  .logo {
    order: 1;
  }

  #menu {
    order: 3;
  }

  .theme-switch-wrapper {
    order: 2;
  }

  .navbar ul li a:hover {
    background-color: var(--primary-color);
    color: #FFF;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    width: 70%;
    height: 100%;
    text-align: right;
    transition: 0.3s;
    background-color: var(--bg-secondary-color);
  }

  /* Add Spacing Between Hamburer and Navigation Menu */
  
  .nav-menu li:first-child {
    margin-top: 4rem;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-items {
    width: 100%;
    border-bottom: 1px solid var(--other-color);
  }

  .nav-link {
    display: inline-block;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body {
    overflow-x: hidden;
  }

  #hero {
    margin-top: 1rem;
  }

  #hero .content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .content-text {
    margin-bottom: 3rem;
  }

  .content h2 {
    font-size: 2.4rem;
  }

  .content p {
    max-width: 300px;
  }

  .content .content-image {
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  #hero {
    height: 130vh;
  }

  .content p {
    margin: 1rem 0;
  }
}

@media (max-width: 400px) {
  #hero {
    height: 100%;
  }
  
  .content h1 {
    font-size: 0.8rem;
  }

  .content h2 {
    font-size: 1.3rem;
  }
}

/*----- Scroll Bar -----*/

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  max-height: 5px;
  background: #0045BC;
  transition: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #0045BC;  
}

/* Custom Scrollbar for Mozilla Firefox */
html{
  overflow-y: visible;
  scrollbar-color: #0045BC #F1F1F1;
  scrollbar-width: auto;
}

/*----- Scroll to Top button -----*/

#btnScrollToTop {
  width: 50px;
  height: 50px;
  background-color: #0045BC;
  color: #FFF;
  margin: 8px;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  position: fixed;
  outline: none;
  bottom: 10px;
  right: 10px;
  animation: up 1.5s infinite;
  -webkit-animation: up 1.5s infinite;
}

/* Scroll to Top Button Animation */

@keyframes up {
  0% {
      transform: translate(0);
  }
  20% {
      transform: translateY(-15px);
  }
  40% {
      transform: translate(0);
  }
}

@-webkit-keyframes up {
  0% {
      transform: translate(0);
  }
  20% {
      transform: translateY(-15px);
  }
  40% {
      transform: translate(0);
  }
}

/* Smooth Scrolling To Top */

html {
  scroll-behavior: smooth;
}

